page-login {
 
    img{
        width: auto;
        margin: auto;
        top: auto;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
      }

    h6{
     
        padding-left: 15px;
      
}

}
